In [46]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import io
from zipfile import ZipFile
import re

In [49]:
zip_path = 'names.zip'

In [54]:
with ZipFile(zip_path, "r") as z:
    pattern = re.compile(r"^yob\d{4}\.txt$")
    files = [f for f in z.namelist() if pattern.match(f)]

    frames = []
    for f in files:
        dfy = pd.read_csv(io.BytesIO(z.read(f)),encoding='utf-8',header=None,names=['name','sex','births'])
        dfy['year'] = int(f[3:7])
        frames.append(dfy)
    df = pd.concat(frames,ignore_index=True)

In [55]:
df

              name sex  births  year
0             Mary   F    7065  1880
1             Anna   F    2604  1880
2             Emma   F    2003  1880
3        Elizabeth   F    1939  1880
4           Minnie   F    1746  1880
...            ...  ..     ...   ...
2149472      Zylyn   M       5  2024
2149473    Zymiere   M       5  2024
2149474     Zypher   M       5  2024
2149475       Zyre   M       5  2024
2149476     Zyrell   M       5  2024

[2149477 rows x 4 columns]

In [59]:
df.groupby('year')['births'].sum()

year
1880     201484
1881     192688
1882     221533
1883     216946
1884     243461
         ...
2020    3340577
2021    3387949
2022    3383135
2023    3311196
2024    3328501
Name: births, Length: 145, dtype: int64